.main-layout {
  display: flex;
  height: 100%;
}

.content {
  margin-left: 240px; /* Adjust this value based on Sidebar width */
  padding: 20px;
  flex-grow: 1;
  width: calc(100% - 240px); /* Adjust to match Sidebar width */
}