/* Sidebar.css */
.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #f8f9fa;
  position: fixed;
  transition: width 0.2s;
  overflow-y: auto; /* Enable vertical scrolling */
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #000;
}

.active {
  background-color: #d3d3d3;
  border-left: 5px solid #3f51b5;
  color: black;
}

/* Add these new styles */
.MuiListItem-root {
  padding-left: 16px !important;
}

.MuiListItemText-root {
  margin-left: 0 !important;
}

.MuiCollapse-root .MuiListItem-root {
  padding-left: 32px !important;
}

/* Sidebar-specific scrollbar styles */
/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
.sidebar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.sidebar::-webkit-scrollbar-track {
  background: #343434;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
.sidebar {
  scrollbar-width: thin;
  scrollbar-color: #888 #343434;
}

/* For Internet Explorer */
.sidebar {
  -ms-overflow-style: none;
}