version: '3.8'
services:
  # Rise of the Runelords services
  rotr_app:
    build:
      context: .
      dockerfile: Dockerfile.full
      args:
        - REACT_APP_API_URL=/api
    ports:
      - "4004:80"  # Nginx port for serving frontend
      - "4005:5000"  # Backend port
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - DB_USER=loot_user
      - DB_HOST=rotr_db
      - DB_NAME=loot_tracking
      - DB_PASSWORD=
      - DB_PORT=5432
      - PORT=5000
      - JWT_SECRET=
      - OPENAI_API_KEY=
      - GROUP_NAME=Rise of the Runelords
      - ALLOWED_ORIGINS=http://192.168.0.64:4004
    depends_on:
      - rotr_db
    container_name: rotr_loot_app

  rotr_db:
    image: postgres:16
    environment:
      - POSTGRES_USER=loot_user
      - POSTGRES_PASSWORD=
      - POSTGRES_DB=loot_tracking
    volumes:
      - ./database/00-extensions.sql:/docker-entrypoint-initdb.d/00-extensions.sql
      - ./database/init.sql:/docker-entrypoint-initdb.d/01-init.sql
      - ./database/item_data.sql:/docker-entrypoint-initdb.d/02-item_data.sql
      - ./database/mod_data.sql:/docker-entrypoint-initdb.d/03-mod_data.sql
      - /root/pathfinder/rotr/db:/var/lib/postgresql/data
    ports:
      - "4006:5432"
    container_name: rotr_loot_db

  # Skulls & Shackles services
  sns_app:
    build:
      context: .
      dockerfile: Dockerfile.full
      args:
        - REACT_APP_API_URL=/api
    ports:
      - "4007:80"  # Nginx port for serving frontend
      - "4008:5000"  # Backend port
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - DB_USER=loot_user
      - DB_HOST=sns_db
      - DB_NAME=loot_tracking
      - DB_PASSWORD=
      - DB_PORT=5432
      - PORT=5000
      - JWT_SECRET=
      - OPENAI_API_KEY=
      - GROUP_NAME=Skulls & Shackles
      - ALLOWED_ORIGINS=http://192.168.0.64:4269
    depends_on:
      - sns_db
    container_name: sns_loot_app

  sns_db:
    image: postgres:16
    environment:
      - POSTGRES_USER=loot_user
      - POSTGRES_PASSWORD=
      - POSTGRES_DB=loot_tracking
    volumes:
      - ./database/00-extensions.sql:/docker-entrypoint-initdb.d/00-extensions.sql
      - ./database/init.sql:/docker-entrypoint-initdb.d/01-init.sql
      - ./database/item_data.sql:/docker-entrypoint-initdb.d/02-item_data.sql
      - ./database/mod_data.sql:/docker-entrypoint-initdb.d/03-mod_data.sql
      - /root/pathfinder/sns/db:/var/lib/postgresql/data
    ports:
      - "4009:5432"
    container_name: sns_loot_db

volumes:
  rotr_postgres_data:
    name: rotr_postgres_data
  sns_postgres_data:
    name: sns_postgres_data